{% extends "base.html" %}

{% block content %}
<section class="page contacts-page">
    <div class="container">
        <h2>Контакты</h2>
        <p>Мы всегда рады вашим вопросам и предложениям. Вы можете связаться с нами любым удобным способом:</p>
        <ul>
            <li><strong>Адрес:</strong> Улица Гоголя, 92а, Бишкек</li>
            <li><strong>Телефон:</strong> +996 553 77 79 79, +996 708 68 52 58</li>
            <li><strong>Email:</strong>domkanz2026@gmail.com</li>
        </ul>
        <p>Наши менеджеры ответят на ваши сообщения в течение 24 часов.</p>
    </div>
</section>
{% endblock %}
